h1,h2,h3,h4,h5,h6, {
    font-weight: 300;
}

p{
    font-weight: 500;
}
pre{
    font-size: medium;
    font-weight: 200;
}

.color-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cyan-button {
    background-color: cyan;
}

.grey-button {
    background-color: rgb(22, 22, 22);
}

.color-button.active {
    background-color: cyan;
}